.container  {
  position:fixed;
  top: 0px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 50px;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(161, 161, 161, 0.363);
}

.title {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  padding-left: 30px;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  height: 100%;
}