.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.sideBar {
  height: 100%;
  max-height: 100%;
  flex-grow: 0;
}

.main {
  width: 0;
  flex-grow: 1;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.clientContainer {
  

  width: 100%;
  display: grid;
  padding: 50px;
  grid-template-columns: 50% 50%;
  /* gap: 20px 20px; */
}

.mobileContainer {

  width: 100%;
  display: flex;
  flex-direction: column;
  grid-template-columns: 100% 50%;
  /* grid-template-columns: 100%; */
}

.loadingArea {
  align-items: center;
  min-height: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}