.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  flex-grow: 0;
}

.editor {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.toolbar {
  flex-grow: 0;
}

.content {
  flex-grow: 0;
  max-height: 100%;
  overflow-y: auto;
}