.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.right {
  margin-right: 20px
}

.editor {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.toolbar {
  flex-grow: 0;
}

.content {
  flex-grow: 0;
  max-height: 100%;
  overflow-y: auto;
}