.container {
  width: 300px;
  height: 100%;
  box-shadow: 5px 0px 10px rgba(114, 114, 114, 0.404);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
}

.searchContainer {

}

.categoryContainer {
  height: 0;
  flex-grow: 1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.divider {
  flex-grow: 0;
}

.tagsContainer {
  flex-grow: 1;
  height: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.tagPair {
  display: flex;
  width: 100;
  justify-content: center;
}

.tagPairChosen {
  display: flex;
  width: 100;
  justify-content: center;
  text-decoration: underline;
}

.tagName {
  color: rgb(92, 92, 92)
}

.tagName:hover {
  color: black;
}

.count {
  color: rgba(156, 156, 156, 0.568)
}